<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="ida:TenantId" value="" />
    <add key="ida:ClientId" value="" />
    <add key="ida:CertThumbprint" value="" />
    <add key="ida:KeyVaultName" value="" />
  </appSettings>
</configuration>
